{% extends "base.html" %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 my-4">
            <div class="card card-body">
                <h1 class="m-auto mb-3">Detalle promocion</h1>
                {{ error }}

                <form method="POST" class="mb-2">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="card">
                        <button type="submit" class="btn btn-primary">Actualizar Promocion</button>
                    </div>
                </form>

                <form action="{% url 'eliminar_promocion' promocion.codigo %}" method="POST" class="card">
                    {% csrf_token %}
                    <button class="btn btn-danger">
                        Eliminar    
                    </button>
                </form>
                <div class="mt-2">
                    <a href="/promocion" class="card" style="text-decoration: none;"><button class="btn btn-secondary">Volver</button></a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}