{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="texto">
  
  <div class="container mt-4">
    <div class="mb-5">
      <h2 class="text-center mb-4">Bienvenido a Hotel Veranum</h2>
      <p class="lead text-center">Descubre la excelencia en hospitalidad en Veranum Hotel, donde cada detalle está diseñado para ofrecerte una experiencia inolvidable. Nuestro hotel de cinco estrellas combina lujo, comodidad y servicios excepcionales para asegurarte una estancia perfecta.</p>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="{% url 'servicioCl' %}"><img src="{% static 'hotel/img/banner-3.png' %}" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
          <img src="{% static 'hotel/img/banner-1.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'hotel/img/banner-2.png' %}" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="description my-4">
        <p>En Veranum Hotel, tu satisfacción es nuestra prioridad. Desde el momento de tu llegada hasta tu partida, nos aseguraremos de que cada aspecto de tu estancia sea impecable. Ven y descubre por qué Veranum Hotel es el destino preferido para viajeros de todo el mundo.</p>
    </div>
  </div>
</div>
{% endblock %}
