{% extends 'base.html' %}
{% load static%}
{% block content %}
    <div class="container">
        <div class="m-5">
            <h2 class="m-5 text-center text-white">Nuestros servicios</h2>
            {% for servicio in servicios %}
            <div class="card mb-3 text-bg-secondary" >
                <div class="row">
                    <div class="col-md-5">
                        <img src="{{ servicio.imagen.url}}" width="600" height="600" class="img-fluid rounded" alt="...">
                    </div>
                    <div class="col-md-7 position-relative">
                        <div class="row">
                            <h3 class="card-title text-center mt-2 fw-bold">{{ servicio.nombre }}</h3><br>
                            <p class="card-text fw-semibold">Tipo de servicio: {{ servicio.tipo_servicio.nombre }}</p>
                            <div class="card-text">
                                <p class="card-text fw-light">{{ servicio.descripcion }}</p><br>
                                <p class="card-text fw-semibold">Precio: ${{ servicio.precio }}</p>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-primary d-grid col-2 position-absolute bottom-0" type="button">Ir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
