{% extends 'base.html' %}
{% load static%}
{% block content %}
<div class="m-5">
  <h1 class="m-auto text-center text-white">Servicios</h1>
  <div class="container mt-2">
    <div class="mb-2">
      <a href="/servicio/crear/"><button class="btn btn-success">Crear Servicio</button></a>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table table-secondary table-striped table-bordered">
            <thead class="table-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo de servicio</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col">Estado</th>
                <th scope="col">Imagen</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for servicio in servicios %}
              <tr>
                <td>{{ servicio.id }}</td>
                <td class="fw-semibold">{{ servicio.nombre }}</td>
                <td>{{ servicio.tipo_servicio.nombre }}</td>
                <td>{{ servicio.descripcion }}</td>
                <td>{{ servicio.precio }}</td>
                {% if servicio.estado %}
                <td class="text-success fw-semibold">Activo</td>
                {% else %}
                <td class="text-secondary fw-semibold">Inactivo</td>
                {% endif %}
                <td><img src="/media/{{ servicio.imagen }}" width="350" height="220"></td>
                <td><form action="{% url 'eliminar_servicio' servicio.id %}" method="POST">
                  {% csrf_token %}
                  <button class="btn btn-danger">
                      Eliminar
                  </button>
                </form>
                <a href="{% url 'detalle_servicio' servicio.id %}" class="btn btn-primary mt-2">Modificar</a>
                </td>
              </tr>
              <!-- Otras filas de la tabla -->
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
