{% extends "base.html" %}
{% load static%}
{% block content %}

<main class="container">
    <div class="row">
        <section class="col-md-4 offset-md-4">
            <form action="/signin/" method="POST" class="card card-body mt-5 " style="background-color: #212132;">
                <h1 class="text-center py-1 text-white">Ingresar</h1>
                <span class="error">{{ error }}</span>
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="username" style="color: #ffffff">Nombre de usuario:</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Escribe tu nombre" style="background-color: #c7c7cc;">
                </div>
                <div class="mb-3">
                    <label for="password" style="color: #ffffff">Contraseña:</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Escribe tu contraseña" style="background-color: #c7c7cc;">
                </div>

                <button type="submit" class="btn btn-primary">Ingresar</button>
            </form>
        </section>
    </div>
</main>

{% endblock content %}